body{
  color: white;
}

header{
  height: 200px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;

  background-color: #2C3842;
}

main{
  width: 80%;
  margin: auto;
}

main section{
  width: 100%;

  margin-top: 3em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

footer{
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #2C3842;
}

/* SECTIONS  */
.header_left{
  display: flex;
}

nav{
  display: flex;
  gap: 1em;
  margin-right: 3em;
}

.projects_cards{
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.left_card {
  align-self: flex-start;
}

.right_card {
  align-self: flex-end;
}


.footer_contact{
  display: flex;
  flex-direction: column;
}

/* COMPONENTS  */
.scroll-line-container {
  height: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  width: 1em;
  background-color: #ddd;
}

.scroll-line {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #333;
}

/* LAYOUTS  */
.card{
  width: 45%;
  height: 300px;

  padding: 1em;

  background-color: #5A6E6F;

  border-radius: 1em;
}

.card img{
  height: 36px;
}

/* Palette couleur */
/* #181818 black */ 
/* #f1f1f0 blanc casse */
/* #343434 gris */